h1 {
  text-align: center;
  padding-top: 15px;
}
#actualdate {
  text-align: center;
}

#cities {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 10px;
}
#city1 {
  padding: 6px 10px;
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
}
#city2 {
  padding: 6px 14px;
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
}
#city3 {
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
}
#city4 {
  padding: 6px 8px;
  color: white;
  background-color: RGB(236, 110, 76);
  border-color: RGB(236, 110, 76);
}

#hum {
  font-size: 16px;
}
#temp {
  font-size: 16px;
}
#wind {
  font-size: 16px;
}
#searchButton {
  font-size: 15px;
  color: white;
  background-color: RGB(236, 110, 76);
  border-color: RGB(236, 110, 76);
}

#weatherinformation {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

#weatherdescription {
  text-align: center;
  text-transform: firstletter capitalize;
  font-size: 14px;
}

.activ:hover {
  color: black;
}
.form-control {
  width: 275px;
}
#icon {
  display: block;
  font-size: 120px;
  padding-top: 0px;
  margin: 0 auto;
}
.temperature {
  font-size: 35px;
}
.underEmoji {
  text-align: center;
}
.city {
  font-size: 45px;
  text-align: center;
}
.developer {
  text-align: center;
  font-size: 12.5px;
}
.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/851/original/pexels-daniel-reche-3616959.jpg?1646816859);
  background-size: 100%;
  padding: 110px;
  padding-bottom: 200px;
  font-family: "Fredericka the Great", cursive;
  color: white;
}
.units {
  font-size: 12px;
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temperature-min {
  font-size: 12px;
  opacity: 0.7;
}
.weather-forecast-temperature-max {
  font-size: 12px;
}
