h1 {
  text-align: center;
  padding-top: 15px;
}
#actualdate {
  text-align: center;
}

#cities {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 10px;
}
#city1 {
  padding: 6px 10px;
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#city2 {
  padding: 6px 14px;
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#city3 {
  color: white;
  background-color: RGB(72, 72, 74);
  border-color: RGB(72, 72, 74);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#city4 {
  padding: 6px 8px;
  color: white;
  background-color: RGB(236, 110, 76);
  border-color: RGB(236, 110, 76);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hum {
  font-size: 20px;
}
#humidity {
  font-size: 16px;
}
#temp {
  font-size: 20px;
}
#temperaturechanges {
  font-size: 16px;
}
#wi {
  font-size: 20px;
}
#wind {
  font-size: 16px;
}
#searchButton {
  font-size: 15px;
  color: white;
  background-color: RGB(236, 110, 76);
  border-color: RGB(236, 110, 76);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#weatherinformation {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

#weatherdescription {
  text-align: center;
  text-transform: firstletter capitalize;
  font-size: 14px;
}

#search {
  width: 272px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: RGB(236, 110, 76);
  font-weight: bold;
  position: relative;
  right: 3px;
}

#icon {
  display: block;
  font-size: 160px;
  padding: 0px;
  margin: 0 auto;
}
.temperature {
  font-size: 35px;
}
.underEmoji {
  text-align: center;
}
.city {
  font-size: 50px;
  text-align: center;
}
.developer {
  text-align: center;
  font-size: 12.5px;
}
.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/028/851/original/pexels-daniel-reche-3616959.jpg?1646816859);
  background-size: 100%;
  padding: 110px;
  padding-bottom: 90px;
  font-family: "Fredericka the Great", cursive;
  color: white;
  min-width: 1300px;
}
.units {
  font-size: 16px;
}
.weather-forecast {
  position: relative;
  text-align: center;
  font-size: 20px;
}
.weather-forecast-temperature-min {
  position: relative;
  font-size: 14px;
  opacity: 0.7;
}
.weather-forecast-temperature-max {
  font-size: 14px;
  position: relative;
}
